<br><br>
<div class="wrapper">
    <a class="btn" href="#/newYork">Back to main</a>  
</div>
<div id='container wrapper'>
    <div id='rowOne'>
        <div class="wrapper">
            <h1>Featured Items</h1>
            <p> orem ipsum dolor sit amet, consectetur adipiscing elit. Quisque faucibus odio est, ac lobortis nulla fermentum vel. Vivamus ultrices nulla eu ornare luctus. Ut velit lectus, tempor a fringilla sit amet, fermentum convallis lorem.orem ipsum dolor sit amet, consectetur adipiscing elit. Quisque faucibus odio est, ac lobortis nulla fermentum vel. Vivamus ultrices nulla eu ornare luctus. Ut velit lectus, tempor a fringilla sit amet, fermentum convallis lorem.orem ipsum dolor sit amet, consectetur adipiscing elit. Quisque faucibus odio est, ac lobortis nulla fermentum vel. Vivamus ultrices nulla eu ornare luctus. Ut velit lectus, tempor a fringilla sit amet, fermentum convallis lorem. </p>
        </div>
    </div>
    
    <display-pizzas></display-pizzas>

</div>